USE [odms_qa]
GO
/****** Object:  Table [dbo].[Approval]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approval](
	[Id] [nvarchar](36) NOT NULL,
	[ApproverUserId] [nvarchar](36) NOT NULL,
	[ApprovalRecordId] [nvarchar](36) NOT NULL,
	[Sequence] [int] NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[StatusUpdateDateTime] [datetime2](7) NULL,
	[EmailSendingStatus] [nvarchar](450) NOT NULL,
	[EmailSendingRemarks] [nvarchar](max) NOT NULL,
	[EmailSendingDateTime] [datetime2](7) NULL,
	[ApprovalRemarks] [nvarchar](max) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Approval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalRecord]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalRecord](
	[Id] [nvarchar](36) NOT NULL,
	[ApproverSetupId] [nvarchar](36) NOT NULL,
	[DataId] [nvarchar](36) NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApprovalRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApproverAssignment]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApproverAssignment](
	[Id] [nvarchar](36) NOT NULL,
	[ApproverType] [nvarchar](max) NOT NULL,
	[ApproverSetupId] [nvarchar](36) NOT NULL,
	[Sequence] [int] NOT NULL,
	[ApproverUserId] [nvarchar](36) NULL,
	[ApproverRoleId] [nvarchar](36) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApproverAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApproverSetup]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApproverSetup](
	[Id] [nvarchar](36) NOT NULL,
	[ApprovalSetupType] [nvarchar](max) NOT NULL,
	[WorkflowName] [nvarchar](450) NULL,
	[WorkflowDescription] [nvarchar](max) NULL,
	[TableName] [nvarchar](450) NULL,
	[DeliveryCategory] [nvarchar](50) NULL,
	[ApprovalType] [nvarchar](450) NOT NULL,
	[EmailSubject] [nvarchar](450) NOT NULL,
	[EmailBody] [nvarchar](max) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApproverSetup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](36) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](36) NOT NULL,
	[RoleId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[EntityId] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
	[RegisteredDate] [datetime2](7) NOT NULL,
	[LastUnsucccessfulLogin] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillCode]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillCode](
	[Id] [nvarchar](36) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BillCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessUnit]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessUnit](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BusinessUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessUnitTechnologyBusinessPartner]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessUnitTechnologyBusinessPartner](
	[Id] [nvarchar](36) NOT NULL,
	[BusinessUnitId] [nvarchar](36) NOT NULL,
	[EmployeeId] [nvarchar](36) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BusinessUnitTechnologyBusinessPartner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataSource]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSource](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ServerAddress] [nvarchar](200) NULL,
	[DatabaseName] [nvarchar](150) NULL,
	[AuthenticationType] [nvarchar](50) NULL,
	[Username] [nvarchar](100) NULL,
	[PasswordEncrypted] [nvarchar](450) NULL,
	[ConnectionStringEncrypted] [nvarchar](450) NULL,
	[Description] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
	[DataSourceType] [nvarchar](20) NOT NULL,
	[UploadedFilePath] [nvarchar](450) NULL,
	[GeneratedTableName] [nvarchar](128) NULL,
	[ImportStatus] [nvarchar](20) NULL,
	[ImportErrorMessage] [nvarchar](450) NULL,
	[LastImportedDate] [datetime2](7) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DataSource] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplate]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplate](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[HtmlBody] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmailTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplateRecipient]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplateRecipient](
	[Id] [nvarchar](36) NOT NULL,
	[EmailTemplateId] [nvarchar](36) NOT NULL,
	[Field] [nvarchar](10) NOT NULL,
	[RecipientType] [nvarchar](20) NOT NULL,
	[Value] [nvarchar](450) NOT NULL,
	[DisplayText] [nvarchar](max) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmailTemplateRecipient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [nvarchar](36) NOT NULL,
	[Department] [nvarchar](max) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[EmployeeCode] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Rank] [nvarchar](50) NULL,
	[UserId] [nvarchar](36) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[BillCodeId] [nvarchar](36) NULL,
	[Roles] [nvarchar](max) NOT NULL,
	[RolesAppliedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milestone]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestone](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Milestone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [nvarchar](36) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[ProjectId] [nvarchar](20) NOT NULL,
	[ProjectName] [nvarchar](255) NOT NULL,
	[DeliveryCategory] [nvarchar](50) NOT NULL,
	[DemandType] [nvarchar](100) NOT NULL,
	[BusinessUnitId] [nvarchar](36) NOT NULL,
	[TechnologyBusinessPartnerId] [nvarchar](36) NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[BaselineStartDate] [datetime2](7) NOT NULL,
	[BaselineEndDate] [datetime2](7) NOT NULL,
	[ApprovedBudget] [decimal](18, 6) NULL,
	[ProjectDescription] [nvarchar](2000) NULL,
	[ProjectManagerId] [nvarchar](36) NOT NULL,
	[DeputyProjectManagerId] [nvarchar](36) NULL,
	[ActiveStatus] [nvarchar](50) NULL,
	[NoSOW] [bit] NOT NULL,
	[OpenedByPmDate] [datetime2](7) NULL,
	[PortfolioLeadId] [nvarchar](36) NULL,
	[ProjectSponsor] [nvarchar](255) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectAttachment]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAttachment](
	[Id] [nvarchar](36) NOT NULL,
	[ProjectId] [nvarchar](36) NOT NULL,
	[StoredFileName] [nvarchar](450) NOT NULL,
	[OriginalFileName] [nvarchar](450) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[ContentType] [nvarchar](255) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProjectAttachment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMilestone]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMilestone](
	[Id] [nvarchar](36) NOT NULL,
	[ProjectId] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TargetEndDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProjectMilestone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [nvarchar](36) NOT NULL,
	[ReportName] [nvarchar](max) NOT NULL,
	[ReportDescription] [nvarchar](max) NULL,
	[QueryType] [nvarchar](max) NOT NULL,
	[ReportOrChartType] [nvarchar](max) NOT NULL,
	[IsDistinct] [bit] NOT NULL,
	[QueryString] [nvarchar](max) NULL,
	[DisplayOnDashboard] [bit] NOT NULL,
	[DisplayOnReportModule] [bit] NOT NULL,
	[Sequence] [int] NOT NULL,
	[HtmlTemplate] [nvarchar](max) NULL,
	[HTMLFooterTemplate] [nvarchar](max) NULL,
	[Orientation] [nvarchar](max) NOT NULL,
	[PaperSize] [nvarchar](max) NOT NULL,
	[MarginTop] [int] NOT NULL,
	[MarginBottom] [int] NOT NULL,
	[MarginLeft] [int] NOT NULL,
	[MarginRight] [int] NOT NULL,
	[SpanWidth] [int] NOT NULL,
	[DrillDownReportId] [nvarchar](max) NULL,
	[DataSourceId] [nvarchar](36) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[Subtitle] [nvarchar](255) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingWeek]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingWeek](
	[Id] [nvarchar](36) NOT NULL,
	[Year] [int] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[IsWeeklyDeliveryStatusReportSent] [bit] NOT NULL,
 CONSTRAINT [PK_ReportingWeek] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportQueryFilter]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportQueryFilter](
	[Id] [nvarchar](36) NOT NULL,
	[ReportId] [nvarchar](36) NOT NULL,
	[FieldName] [nvarchar](max) NOT NULL,
	[FieldDescription] [nvarchar](max) NULL,
	[DataType] [nvarchar](max) NOT NULL,
	[CustomDropdownValues] [nvarchar](max) NULL,
	[DropdownTableKeyAndValue] [nvarchar](max) NULL,
	[DropdownFilter] [nvarchar](max) NULL,
	[Sequence] [int] NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReportQueryFilter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportRoleAssignment]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportRoleAssignment](
	[Id] [nvarchar](36) NOT NULL,
	[ReportId] [nvarchar](36) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReportRoleAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskIssue]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskIssue](
	[Id] [nvarchar](36) NOT NULL,
	[ProjectId] [nvarchar](36) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Severity] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[OwnerId] [nvarchar](36) NOT NULL,
	[DateRaised] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RiskIssue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SequenceCounter]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SequenceCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
 CONSTRAINT [PK_SequenceCounter] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusReport]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusReport](
	[Id] [nvarchar](36) NOT NULL,
	[ProjectId] [nvarchar](36) NOT NULL,
	[ReportingWeekId] [nvarchar](36) NOT NULL,
	[SubmissionDate] [datetime2](7) NULL,
	[OverallHealth] [nvarchar](20) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ActualSpend] [decimal](18, 6) NULL,
	[ScheduleVarianceWeeks] [int] NULL,
	[ScheduleStatus] [nvarchar](50) NULL,
	[BudgetStatus] [nvarchar](50) NULL,
	[Phase] [nvarchar](100) NULL,
	[ReviewedById] [nvarchar](max) NULL,
	[ReviewedDate] [datetime2](7) NULL,
	[ReviewComments] [nvarchar](1000) NULL,
	[Accomplishments] [nvarchar](max) NOT NULL,
	[NextSteps] [nvarchar](max) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[BudgetAtCompletion] [decimal](18, 6) NULL,
	[EstimateAtCompletion] [decimal](18, 6) NULL,
	[ExecutiveSummary] [nvarchar](max) NULL,
	[ForecastFinishDate] [datetime2](7) NULL,
	[PercentComplete] [decimal](18, 6) NULL,
	[PlannedValue] [decimal](18, 6) NULL,
	[IsForCompletion] [bit] NOT NULL,
 CONSTRAINT [PK_StatusReport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusReportHealthIndicator]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusReportHealthIndicator](
	[Id] [nvarchar](36) NOT NULL,
	[StatusReportId] [nvarchar](36) NOT NULL,
	[Area] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StatusReportHealthIndicator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusReportMilestone]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusReportMilestone](
	[Id] [nvarchar](36) NOT NULL,
	[StatusReportId] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TargetEndDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StatusReportMilestone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusReportRiskIssue]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusReportRiskIssue](
	[Id] [nvarchar](36) NOT NULL,
	[StatusReportId] [nvarchar](36) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Severity] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DateRaised] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[Owner] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StatusReportRiskIssue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 7/29/2026 4:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[Id] [nvarchar](36) NOT NULL,
	[ProjectId] [nvarchar](36) NOT NULL,
	[Entity] [nvarchar](36) NULL,
	[CreatedBy] [nvarchar](36) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](36) NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[EmployeeId] [nvarchar](36) NULL,
	[Role] [nvarchar](100) NOT NULL,
	[MemberLevel] [nvarchar](50) NULL,
 CONSTRAINT [PK_TeamMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (N'') FOR [Roles]
GO
ALTER TABLE [dbo].[ReportingWeek] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsWeeklyDeliveryStatusReportSent]
GO
ALTER TABLE [dbo].[StatusReport] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsForCompletion]
GO
ALTER TABLE [dbo].[StatusReportRiskIssue] ADD  DEFAULT (N'') FOR [Owner]
GO
ALTER TABLE [dbo].[Approval]  WITH CHECK ADD  CONSTRAINT [FK_Approval_ApprovalRecord_ApprovalRecordId] FOREIGN KEY([ApprovalRecordId])
REFERENCES [dbo].[ApprovalRecord] ([Id])
GO
ALTER TABLE [dbo].[Approval] CHECK CONSTRAINT [FK_Approval_ApprovalRecord_ApprovalRecordId]
GO
ALTER TABLE [dbo].[ApprovalRecord]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRecord_ApproverSetup_ApproverSetupId] FOREIGN KEY([ApproverSetupId])
REFERENCES [dbo].[ApproverSetup] ([Id])
GO
ALTER TABLE [dbo].[ApprovalRecord] CHECK CONSTRAINT [FK_ApprovalRecord_ApproverSetup_ApproverSetupId]
GO
ALTER TABLE [dbo].[ApproverAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ApproverAssignment_ApproverSetup_ApproverSetupId] FOREIGN KEY([ApproverSetupId])
REFERENCES [dbo].[ApproverSetup] ([Id])
GO
ALTER TABLE [dbo].[ApproverAssignment] CHECK CONSTRAINT [FK_ApproverAssignment_ApproverSetup_ApproverSetupId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Entities_EntityId] FOREIGN KEY([EntityId])
REFERENCES [dbo].[Entities] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Entities_EntityId]
GO
ALTER TABLE [dbo].[BusinessUnitTechnologyBusinessPartner]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnitTechnologyBusinessPartner_BusinessUnit_BusinessUnitId] FOREIGN KEY([BusinessUnitId])
REFERENCES [dbo].[BusinessUnit] ([Id])
GO
ALTER TABLE [dbo].[BusinessUnitTechnologyBusinessPartner] CHECK CONSTRAINT [FK_BusinessUnitTechnologyBusinessPartner_BusinessUnit_BusinessUnitId]
GO
ALTER TABLE [dbo].[BusinessUnitTechnologyBusinessPartner]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnitTechnologyBusinessPartner_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[BusinessUnitTechnologyBusinessPartner] CHECK CONSTRAINT [FK_BusinessUnitTechnologyBusinessPartner_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[EmailTemplateRecipient]  WITH CHECK ADD  CONSTRAINT [FK_EmailTemplateRecipient_EmailTemplate_EmailTemplateId] FOREIGN KEY([EmailTemplateId])
REFERENCES [dbo].[EmailTemplate] ([Id])
GO
ALTER TABLE [dbo].[EmailTemplateRecipient] CHECK CONSTRAINT [FK_EmailTemplateRecipient_EmailTemplate_EmailTemplateId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_BillCode_BillCodeId] FOREIGN KEY([BillCodeId])
REFERENCES [dbo].[BillCode] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_BillCode_BillCodeId]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_BusinessUnit_BusinessUnitId] FOREIGN KEY([BusinessUnitId])
REFERENCES [dbo].[BusinessUnit] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_BusinessUnit_BusinessUnitId]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Employee_DeputyProjectManagerId] FOREIGN KEY([DeputyProjectManagerId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Employee_DeputyProjectManagerId]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Employee_PortfolioLeadId] FOREIGN KEY([PortfolioLeadId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Employee_PortfolioLeadId]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Employee_ProjectManagerId] FOREIGN KEY([ProjectManagerId])
REFERENCES [dbo].[Employee] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Employee_ProjectManagerId]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Employee_TechnologyBusinessPartnerId] FOREIGN KEY([TechnologyBusinessPartnerId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Employee_TechnologyBusinessPartnerId]
GO
ALTER TABLE [dbo].[ProjectAttachment]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAttachment_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectAttachment] CHECK CONSTRAINT [FK_ProjectAttachment_Project_ProjectId]
GO
ALTER TABLE [dbo].[ProjectMilestone]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMilestone_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectMilestone] CHECK CONSTRAINT [FK_ProjectMilestone_Project_ProjectId]
GO
ALTER TABLE [dbo].[ReportQueryFilter]  WITH CHECK ADD  CONSTRAINT [FK_ReportQueryFilter_Report_ReportId] FOREIGN KEY([ReportId])
REFERENCES [dbo].[Report] ([Id])
GO
ALTER TABLE [dbo].[ReportQueryFilter] CHECK CONSTRAINT [FK_ReportQueryFilter_Report_ReportId]
GO
ALTER TABLE [dbo].[ReportRoleAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ReportRoleAssignment_Report_ReportId] FOREIGN KEY([ReportId])
REFERENCES [dbo].[Report] ([Id])
GO
ALTER TABLE [dbo].[ReportRoleAssignment] CHECK CONSTRAINT [FK_ReportRoleAssignment_Report_ReportId]
GO
ALTER TABLE [dbo].[RiskIssue]  WITH CHECK ADD  CONSTRAINT [FK_RiskIssue_Employee_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[RiskIssue] CHECK CONSTRAINT [FK_RiskIssue_Employee_OwnerId]
GO
ALTER TABLE [dbo].[RiskIssue]  WITH CHECK ADD  CONSTRAINT [FK_RiskIssue_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[RiskIssue] CHECK CONSTRAINT [FK_RiskIssue_Project_ProjectId]
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD  CONSTRAINT [FK_StatusReport_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[StatusReport] CHECK CONSTRAINT [FK_StatusReport_Project_ProjectId]
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD  CONSTRAINT [FK_StatusReport_ReportingWeek_ReportingWeekId] FOREIGN KEY([ReportingWeekId])
REFERENCES [dbo].[ReportingWeek] ([Id])
GO
ALTER TABLE [dbo].[StatusReport] CHECK CONSTRAINT [FK_StatusReport_ReportingWeek_ReportingWeekId]
GO
ALTER TABLE [dbo].[StatusReportHealthIndicator]  WITH CHECK ADD  CONSTRAINT [FK_StatusReportHealthIndicator_StatusReport_StatusReportId] FOREIGN KEY([StatusReportId])
REFERENCES [dbo].[StatusReport] ([Id])
GO
ALTER TABLE [dbo].[StatusReportHealthIndicator] CHECK CONSTRAINT [FK_StatusReportHealthIndicator_StatusReport_StatusReportId]
GO
ALTER TABLE [dbo].[StatusReportMilestone]  WITH CHECK ADD  CONSTRAINT [FK_StatusReportMilestone_StatusReport_StatusReportId] FOREIGN KEY([StatusReportId])
REFERENCES [dbo].[StatusReport] ([Id])
GO
ALTER TABLE [dbo].[StatusReportMilestone] CHECK CONSTRAINT [FK_StatusReportMilestone_StatusReport_StatusReportId]
GO
ALTER TABLE [dbo].[StatusReportRiskIssue]  WITH CHECK ADD  CONSTRAINT [FK_StatusReportRiskIssue_StatusReport_StatusReportId] FOREIGN KEY([StatusReportId])
REFERENCES [dbo].[StatusReport] ([Id])
GO
ALTER TABLE [dbo].[StatusReportRiskIssue] CHECK CONSTRAINT [FK_StatusReportRiskIssue_StatusReport_StatusReportId]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Project_ProjectId]
GO
