@using Models
@model DataSourceSchemaCacheViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Data Source Schema Cache"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditDataSourceSchemaCacheDetails" model="Model" />        
    </div>
</div>
