@model FBSC.ApiHub.ViewModels.WebhookApiViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Webhook Api"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <input type="hidden" asp-for="@Model.IsEdit" name="IsEdit" />
        <partial name="_EditWebhookApiDetails" model="Model" />
    </div>
</div>
<br />
<partial name="_WebhookEventAssignmentList" model="Model" />