@page
@model SiteNotYetAvailableModel
@{
    ViewData["Title"] = "Site Not Available";
    Layout = "_Layout";
}

<div class="auth-page-wrapper">
    <div class="container d-flex justify-content-center align-items-center auth-vh-90">
        <div class="card shadow-lg o-hidden border-0 my-5 overflow-hidden auth-card-1000 auth-card-rounded">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-lg-6 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-login-image auth-img-min-500"></div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="p-5 text-center w-100">
                            <div class="icon-circle mb-4 shadow-sm mx-auto auth-status-icon auth-icon-info">
                                <i class="fas fa-tools"></i>
                            </div>

                            <h3 class="fw-bold text-dark mb-2">Coming Soon</h3>

                            <p class="text-muted mb-4 small px-lg-4">
                                We appreciate your interest, but our website is not yet
                                available. Please check back later. Thank you for your patience.
                            </p>

                            <hr class="my-4 mx-5">

                            <div class="d-grid px-5">
                                <a href="mailto:@(Configuration.GetValue<string>("CustomerSupportEmail"))" class="btn btn-outline-primary btn-user shadow-sm py-2">
                                    <i class="fas fa-envelope me-2"></i> Notify Me
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>