@page
@model ViewLogModel
@{
    ViewData["Title"] = Localizer["View Webhook Logs"];
    ViewData["ActiveMainPage"] = "WebhookApi";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "Webhook / Api List", Url = "/Webhook/WebhookApi/Index", IsActive = false },
        new { Title = "View Webhook Logs", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<partial name="_CodeMirrorStyles" />
<div class="container-fluid" id="webhookLogs-container">
    <input type="hidden" asp-for="@Model.WebhookApiId" />
    <div id="PartialLoaderContainer">
        <partial name="_InputWebhookLogsFieldsPartial" model="Model.WebhookLogs" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Logs" asp-route-webhookApiId="@Model.WebhookApiId" class="btn btn-secondary" title="@Localizer["Back"]">
        <i class="fas fa-arrow-left"></i>
    </a>

</div>
@section Scripts {
    <partial name="_CodeMirrorScripts" />
    <partial name="_DisableFieldsPartial" model="@("webhookLogs-container")" />
    <script asp-add-nonce>
        $(document).ready(function () {
            const textAreaPayload = document.getElementById('Payload');
            if (textAreaPayload) {
                var editor = CodeMirror.fromTextArea(textAreaPayload, {
                    mode: "application/json",
                    theme: "3024-night",
                    lineNumbers: true,
                    autoCloseBrackets: true,
                    autoCloseTags: true
                });

                //Beautify function
                function beautifyJson() {
                    try {
                        var content = editor.getValue();
                        var obj = JSON.parse(content);
                        var pretty = JSON.stringify(obj, null, 4); // 4 = indent spaces
                        editor.setValue(pretty);
                    } catch (e) {
                        alert("Invalid JSON: " + e.message);
                    }
                }

                // Example: run beautify on Ctrl+B
                editor.setOption("extraKeys", {
                    "Ctrl-B": beautifyJson
                });
                editor.setSize(null, "1000px");
                beautifyJson();
            }
        });
    </script>
}