<div class="page-header-bar">
    <div class="page-header-title">
        <h1>@ViewData["Title"]</h1>
        @if (ViewData["PageSubtitle"] != null)
        {
            <p>@ViewData["PageSubtitle"]</p>
        }
    </div>
</div>
