@model FBSC.HTMLTemplate.Services.HtmlContentModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	@if (Model.CssLibraryList != null && Model.CssLibraryList.Count > 0)
    {
        foreach (var cssLibrary in Model.CssLibraryList)
        {
            <link rel="stylesheet" href="@cssLibrary" />
        }
    }
    @if (!string.IsNullOrWhiteSpace(Model.CustomCss))
    {
        <style>
            @Html.Raw(Model.CustomCss)
        </style>
    }
</head>
<body>
    @Html.Raw(Model.HtmlContent)
</body>
</html>