@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add AI SQL Prompt Template"];
    ViewData["ActiveMainPage"] = "AiSqlPromptTemplate";
    ViewData["Level1"] = "ODMS";
	var breadcrumbs = new[] {
		new { Title = "AI SQL Prompt Template List", Url = "/ODMS/AiSqlPromptTemplate/Index", IsActive = false },
		new { Title = "Add AI SQL Prompt Template", Url = "", IsActive = true },
	};
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<form id="aiSqlPromptTemplate-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.AiSqlPromptTemplate" />
    </div> 	
	<div id="toolbar-container" class="btn-group" role="group">     
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" title="@Localizer["Back"]"></a>
		<button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" title="@Localizer["Save changes"]"></button>
	</div>   	
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script asp-add-nonce>
    $(document).ready(function () {
		$.bindSaveConfirmationModal('Save', '#btnConfirmationModal','#aiSqlPromptTemplate-form');
		$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#aiSqlPromptTemplate-form', 'Do you want to cancel the changes?');
		function InitializeForm()
		{			

			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
		}	
		InitializeForm();
    });
</script>
}