
@model FBSC.HTMLTemplate.ViewModels.HTMLTemplateViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["HTML Template"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditHTMLTemplateDetails" model="Model" />        
    </div>
</div>
