@using Models
@model DashboardQueryViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Dashboard Query"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditDashboardQueryDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_DashboardQueryParameterList" model="Model" />
<br /><partial name="_DashboardQueryResultColumnList" model="Model" />
<br /><partial name="_DashboardQueryResultCacheList" model="Model" />
<br /><partial name="_DashboardWidgetList" model="Model" />
<br /><partial name="_DashboardRefreshJobList" model="Model" />